
body
{
    background-image: url(covid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    text-align: center;
    font-weight: bold;
}

#res
{
    background-color: lightblue;
    display: none;
    width: 100%;
}

td{
font-size:25px;
padding: 50px;
}

